<h1>Portfolio Contact Form Submitted</h1>
<br>
<p>Subject: <%= @message.subject %></p>
<p>Name: <%= @message.name %></p>
<p>Email: <%= @message.email %></p>
<p>Message: <%= @message.message %></p>
<p>Sincerely,</p>
<p>The Contact Mailer</p>
